::selection{
    color: gold;
    background-color: black;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
::-webkit-scrollbar-track {
    background: gold;
}
  
::-webkit-scrollbar-thumb {
    background: #272020;
}


/* general */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: whitesmoke;
}

.root{
    padding: 0 50px;
}







/* header */

header{
    position: sticky;
    top: 0;
    background-color: gold;
    z-index: 99;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 0;
}

nav p{
    padding: 10px 0;
    font-weight: 600;
}

nav div{
    display: flex;
}

nav div a{
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav div a:hover{
    background-color: black;
    color: gold;
    border-radius: 10px;
    transition: all .5s ease;
}





/* header bg */

#header-bg{
    position: fixed;
    width: 100%;
    z-index: -90;
}







/* about */

#about{
    display: flex;
    padding-bottom: 50px;
    margin-bottom: 50px;
    opacity: 1;
    transition: all 1s linear;
}

#about div{
    flex: 1;
}

#about div:first-child{
    margin: 50px;
    padding: 50px;
}

#about h4{
    color: yellowgreen;
    font-size: 25px;
    padding: 5px 0;
    animation: hello .8s linear 0s;
    margin-top: 50px;
}

@keyframes hello {
    from {
        position: relative;
        left: -50px;
    }
    to {
        position: relative;
        left: 0px;
    }
}

#about h1{
    font-size: 75px;
    padding: 5px 0;
    animation: hello 1s linear 0s;
}

#about h2{
    color: rgb(92, 101, 16);
    font-size: 35px;
    padding: 5px 0;
    animation: hello 1.2s linear 0s;
}

#about p{
    font-size: 20px;
    padding: 5px 0;
    color: gray;
    animation: hello 1.4s linear 0s;
}









/* line */

.line{
    position: absolute;
    top: 80px;
    height: 600px;
    width: 4px;
    border-radius: 5px;
    background: linear-gradient(to bottom, black, gold);
    left: 100px;
    z-index: 8px;
    animation: walk 1s linear;
}

@keyframes walk {
    from { height: 0%; }
    to { height: 100%; }
}

.logo-line{
    position: relative;
    z-index: 9px;
}

.logo-about{
    top: 250px;
}

.logo-line i{
    position: absolute;
    background-color: gold;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 20px gold;
    left: -12px;
    z-index: 10px;
    color: black;
    font-size: 25px;
    transition: box-shadow 1s linear    ;
}

.logo-edu, .logo-exp, .logo-skl, .logo-proj, .logo-con{
    display: none;
}

.logo-edu{
    top: 900px;
}

.logo-exp{
    top: 1600px;
}

.logo-skl{
    top: 2350px;
}

.logo-proj{
    top: 3050px;
}

.logo-con{
    top: 3650px;
}









/* education */

.sections{
    margin-top: 30px;
    padding-top: 30px;
    position: relative;
}

.sections h1{
    text-align: center;
    font-size: 60px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 75px;
    text-decoration: underline;
}

.sections h1::before{
    content: '';
    position: absolute;
    top: 63px;
    left: 50%;
    transform: scaleX(1);
    transition: transform 1s linear;
}

.sections h1:hover{
    text-shadow: 1px 1px 2px lime;
}

.sections h1:hover::before{
    border: 3px solid orangered;
    transform: scaleX(56);
}

.education-details{
    float: right;
    position: relative;
    right: 10%;
}

.education-details div{
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    background-size: 200% 100%;
    background-position: left;
    opacity: 0;
    position: relative;
    background: linear-gradient(to right, orange, yellow, white);
    transition: all 1s ease;
}
/* 
.education-details div:hover{
    background-position: left;
} */

.education-details div h4{
    font-size: 22px;
    color: #555555;
}

.education-details div h3{
    font-size: 33px;
    color: #444444;
}

.education-details div:nth-child(1){
    left: -60%;
}

.education-details div:nth-child(2){
    left: -30%;
}

.list-lines{
    position: absolute;
    top: 250px;
    left: 200px;
    background: linear-gradient(purple, gold);
    width: 8px;
    height: 300px;
}

.list-lines:nth-child(2){
    transform: rotate(90deg);
    top: 270px;
    left: 324px;
    height: 250px;
}

.list-lines:nth-child(3){
    transform: rotate(90deg);
    top: 326px;
    left: 424px;
    height: 440px;
}










/* Experience */

#experience{
    margin-top: 40%;
}

#experience h1:hover::before{
    transform: scaleX(63);
}

.experience-details{
    float: right;
    margin: 25px;
    padding: 35px 50px;
    background-color: #444444;
    border-radius: 10px;
    color: #c5c5c5;
    margin-right: 15%;
    opacity: 1;
    transition: all 1s ease;
}

.experience-details h2{
    font-size: 30px;
    color: greenyellow;
    padding: 8px 0;
}

.experience-details p {
    font-size: 20px;
    color: orange;
    font-weight: 400;
    text-transform: uppercase;
    padding: 6px 0;
}

.experience-details div {
    padding: 10px 0;
    color: palegoldenrod;
}

.experience-details div i:last-child{
    padding-left: 40px;
}

.experience-details h3{
    font-weight: 400;
    font-size: 20px;
}

.experience-details ul{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    color: darkkhaki;
}

.experience-details ul li{
    padding: 5px 0;
}











/* skills */

#skills{
    margin-top: 40%;
    padding: 50px;
}

#skills h1:hover::before{
    transform: scaleX(32);
}

.skill-item{
    display: flex;
    justify-content: space-evenly;
    height: 420px;
    font-weight: 600;
    font-size: 30px;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.skill-item > div{
    width: 210px;
    height: 210px;
    border-radius: 50%;
    text-align: center;
    position: relative;
}

.skill-item > div:nth-child(2), .skill-item > div:nth-child(4){
    align-content: end;
    margin-top: 210px;
}

.skill-item > div:nth-child(1), .skill-item > div:nth-child(3){
    align-content: start;
    margin-bottom: 210px;
}

.skill-item > div:nth-child(1){
    background-image: linear-gradient(270deg, #000 50%, transparent 50%), linear-gradient(79.2deg, #000 50%, transparent 50%);
    transition: all 1s ease;
}

.skill-item > div:nth-child(2){
    background-image: linear-gradient(270deg, #000 50%, transparent 50%), linear-gradient(72deg, #000 50%, transparent 50%);
    transition: all 1s ease .5s;
}

.skill-item > div:nth-child(3){
    background-image: linear-gradient(270deg, #000 50%, transparent 50%), linear-gradient(61.2deg, #000 50%, transparent 50%);
    transition: all 1s ease;
}

.skill-item > div:nth-child(4){
    background-image: linear-gradient(270deg, #000 50%, transparent 50%), linear-gradient(54deg, #000 50%, transparent 50%);
    transition: all 1s ease .5s;
}

.perc{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 190px;
    height: 190px;
    align-content: center;
    border-radius: 100%;
    background-color: greenyellow;
}










/* projects */

#projects{
    /* margin-bottom: 40%; */
}

#projects h1:hover::before{
    transform: scaleX(48);
    top: 65px;
    z-index: -9;
}

img{
    width: 60%;
    height: 450px;
    background-size: cover;
    border-radius: 10px;
}

.projects-items{
    opacity: 1;
    transition: all 2s ease;
    text-align: center;
}

.projects-items a{
    margin: 30px 0;
}

#get-left{
    position: absolute;
    top: 400px;
    left: 200px;
    font-size: 50px;
    color: gray;
    cursor: pointer;
    z-index: 101;
}

#get-right{
    position: absolute;
    top: 400px;
    left: 1175px;
    font-size: 50px;
    color: gray;
    cursor: pointer;
    z-index: 101;
}










/* contact  */

#contact{
    padding: 10px;
    margin-top: 25px;
}

#contact h1:hover::before{
    transform: scaleX(45);
    top: 65px;
}

.form{
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

#form{
    background-color: rgba(0, 0, 0, 0.096);
    padding: 10px 50px;
    border-radius: 10px;
}

#form label{
    font-size: 16px;
    font-weight: 500;
}

#form input{
    width: 320px;
    height: 36px;
    border-radius: 3px;
    margin-top: 8px;
    padding: 2px 5px;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    border: none;
    caret-color: gold;
}

#form small{
    color: orangered;
    font-size: 14px;
}

#form textarea{
    width: 320px;
    border-radius: 3px;
    margin-top: 8px;
    padding: 2px 5px;
    font-size: 17px;
    font-weight: 400;
    outline: none;
    border: none;
    caret-color: gold;
}

#form div{
    float: right;
}

#form button{
    border: none;
    border-radius: 5px;
    width: 80px;
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    margin: 8px 0;
    background-color: orange;
}

#form button:hover{
    background-color: greenyellow;
    cursor: pointer;
}

