::selection{
    color: gold;
    background-color: black;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: gold;
}
  
::-webkit-scrollbar-thumb {
    background: #272020;
}


/* general */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.root{
    padding: 0 50px;
}







/* header */

header{
    position: sticky;
    top: 0;
    background-color: gold;
    z-index: 99;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 0;
}

nav p{
    padding: 10px 0;
    font-weight: 600;
}

nav div{
    display: flex;
}

nav div a{
    padding: 10px 30px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav div a:hover{
    background-color: black;
    color: gold;
    border-radius: 10px;
    transition: all .5s ease;
}





/* header bg */

#header-bg{
    position: fixed;
    width: 100%;
    z-index: -90;
}







/* about */

#about{
    display: flex;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

#about div{
    flex: 1;
}

#about div:first-child{
    margin: 50px;
    padding: 50px;
}

#about h4{
    color: yellowgreen;
    font-size: 25px;
    padding: 5px 0;
    animation: hello .8s linear 0s;
    margin-top: 50px;
}

@keyframes hello {
    from {
        position: relative;
        left: -50px;
    }
    to {
        position: relative;
        left: 0px;
    }
}

#about h1{
    font-size: 75px;
    padding: 5px 0;
    animation: hello 1s linear 0s;
}

#about h2{
    color: rgb(92, 101, 16);
    font-size: 35px;
    padding: 5px 0;
    animation: hello 1.2s linear 0s;
}

#about p{
    font-size: 20px;
    padding: 5px 0;
    color: gray;
    animation: hello 1.4s linear 0s;
}









/* line */

.line{
    position: absolute;
    top: 80px;
    height: 600px;
    width: 4px;
    border-radius: 5px;
    background: linear-gradient(to bottom, black, gold);
    left: 100px;
    z-index: 8px;
    animation: walk 1s linear;
}

@keyframes walk {
    from { height: 0%; }
    to { height: 100%; }
}

.logo-line{
    position: relative;
    z-index: 9px;
}

.logo-about{
    top: 250px;
}

.logo-line i{
    position: absolute;
    background-color: gold;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 20px gold;
    left: -12px;
    z-index: 10px;
    color: black;
    font-size: 25px;
    transition: box-shadow 1s linear    ;
}

.logo-edu{
    top: 900px;
    display: none;
}

.logo-exp{
    top: 1600px;
    display: none;
}









/* education */

.sections{
    margin-top: 30px;
    padding-top: 30px;
    position: relative;
}

.sections h1{
    text-align: center;
    font-size: 60px;
    position: relative;
    margin-bottom: 75px;
    text-decoration: underline;
}

.sections h1::before{
    content: '';
    position: absolute;
    top: 63px;
    left: 50%;
    transform: scaleX(1);
    transition: transform .5s linear;
}

.sections h1:hover{
    text-shadow: 1px 1px 2px lime;
}

.sections h1:hover::before{
    border: 3px solid orangered;
    transform: scaleX(56);
}

.education-details{
    float: right;
    position: relative;
    right: 10%;
}

.education-details div{
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    /* background: linear-gradient(orange, yellow); */
    /* background-color: orange; */
    background: linear-gradient(to right, orange 20%, rgb(255, 215, 0) 30%, white 50%);
    background-size: 200% ;
    background-position: right;
    transition: background .5s ease-out;
    position: relative;
}

.education-details div:hover{
    background-position: left;
}

.education-details div h4{
    font-size: 22px;
    color: #555555;
}

.education-details div h3{
    font-size: 33px;
    color: #444444;
}

.education-details div:nth-child(1){
    left: -60%;
}

.education-details div:nth-child(2){
    left: -30%;
}

.list-lines{
    position: absolute;
    top: 250px;
    left: 200px;
    background: linear-gradient(purple, gold);
    width: 8px;
    height: 300px;
}

.list-lines:nth-child(2){
    transform: rotate(90deg);
    top: 270px;
    left: 324px;
    height: 250px;
}

.list-lines:nth-child(3){
    transform: rotate(90deg);
    top: 326px;
    left: 424px;
    height: 440px;
}










/* Experience */

#experience{
    margin-top: 40%;
}

#experience h1:hover::before{
    border: 3px solid orangered;
    transform: scaleX(63);
}

.experience-details{
    float: right;
    margin: 25px;
    padding: 35px 50px;
    background-color: #444444;
    border-radius: 10px;
    color: #c5c5c5;
    margin-right: 15%;
}

.experience-details h2{
    font-size: 30px;
    color: greenyellow;
    padding: 8px 0;
}

.experience-details p {
    font-size: 20px;
    color: orange;
    font-weight: 400;
    text-transform: uppercase;
    padding: 6px 0;
}

.experience-details div {
    padding: 10px 0;
    color: palegoldenrod;
}

.experience-details div i:last-child{
    padding-left: 40px;
}

.experience-details h3{
    font-weight: 400;
    font-size: 20px;
}

.experience-details ul{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    color: darkkhaki;
}

.experience-details ul li{
    padding: 5px 0;
}